services:
  qdrant:
    image: qdrant/qdrant:{{ qdrant_version }}
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant-data:/qdrant/storage
      - ./config.yaml:/qdrant/config/production.yaml:ro
    networks:
      - {{ docker_network }}

volumes:
  qdrant-data:

networks:
  {{ docker_network }}:
    external: true
